.main-home{
    width: $wthd-2;
    height: $height-1;
    background-image: url(../../img/banner-3.png);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr) ;
    align-items: center;
}
.main-text h5{
    text-transform: capitalize;
    @include styleText ($fs-2, $fw-2, $color-red-1);
}
.main-text h1{
    text-transform: capitalize;
    line-height: 1.1;
    @include styleText ($fs-13, $fw-3, $color-dark-6);
    margin: $mg-6 $mg-0 $mg-7;
}
.main-text p{
    font-style: italic;
    margin-bottom:$pd-9;
    @include style-Text ($fs-7, $color-dark-7);
}

@include responsive("Screen-630-down"){
    .main-text h1{
        font-size: $fs-25;
        transition: .4s;
    }
    .main-text p{
        font-size:$fs-19;
        transition: .4s;
    }
}

